*

!.github
!.github/**
!.husky
!.husky/**
!src
!src/**
!images
!images/**
!.dockerignore
!.gitignore
!.gitmessage
!Dockerfile
!docker-compose.yml
!ecosystem.config.cjs
!LICENSE
!package.json
!package-lock.json
!README.md
!application.example.yml
!biome.json
!commitlint.config.mjs
!tsconfig.json
